body {
	padding: 0px;
	margin: 5px;
	
	background-color: white;
	color: black;
}

h1 {
	font-size: large;
}

li {
	padding: 5px;
}

a {
	color: blue;
	text-decoration: underline;
}

a:hover {
	color: red;
}
